---
name: push
on:
  push:
    branches:
      - main
  workflow_run:
    types:
      - completed
    workflows:
      - 'automerge'
jobs:
  pushImage:
    if: ${{ github.repository != 'networkservicemesh/cmd-template' && (github.event.workflow_run.conclusion == 'success' && github.actor == 'nsmbot' || github.event_name == 'push') }}
    uses: NikitaSkrynnik/.github/.github/workflows/docker-push.yaml@cmd-workflows
    secrets:
      docker-login: ${{ secrets.DOCKER_LOGIN }}
      docker-password: ${{ secrets.DOCKER_PASSWORD }}
